@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

@media screen and (max-width: 1270px) {
  .posts-wrapper {
    grid-template-columns: 1fr 1fr !important;
  }
}
@media screen and (max-width: 850px) {
  .posts-wrapper {
    grid-template-columns: 1fr !important;
  }
  .posts-wrapper > div {
    width: 80%;
  }
}
